</div>
    
			<div id="copyleft">
			<hr/>
			<a href="http://en.wikipedia.org/wiki/Copyleft?1">Copyleft</a> &copy;&#824; 2013 {AUTHOR} - Theme inspired from an Octopress site.
			</div>
		</div>
	</body>
</html>